.container {
    position: relative;
    width: 100%;
    max-width: 385px;
}

/* Make the image to responsive */
.image {
    width: 100%;
    height: auto;
}

.peopleThings {
    width: 385px; 
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 5%;
}

.objects {
    width: 150px;
    height: auto;

    border-radius: 5%;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlayCorrect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .3;
    transition: .3s ease;
    background-color: green;
}

.overlayIncorrect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .3;
    transition: .3s ease;
    background-color: red;
}
  
/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


